html {
	background-color: #0096E2;
	font-family: 'Poppins', sans-serif;
}

img {
	height: 35px;
}

p {
	text-align: center;
}

main {
	background-color: white;
	width: 360px;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

h1 {
	font-size: 40px;
	text-align: center;
}

input {
	border: 2px solid lightgrey;
	width: 286px;
	height: 21px;
	padding: 15px;
	margin-bottom: 30px;
	font-size: 15px;
}

label {
	margin: 20px;
}

button {
	background-color: lightgreen;
	font-size: 15px;
}

div {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.sign {
	width: 320px;
	height: 55px;
}

.forgot {
	color: lightgrey;
}

.account {
	color: white;
}